{% extends 'base.html.twig' %}

{% block title %}Front Application{% endblock %}

{% block stylesheets %}
    <style>
        .display-none {
            display: none;
        }
    </style>
    {{ parent() }}
{% endblock %}


{% block body %}
    <input type="text" name="search_text" id="searched-text"/>
    <input type="button" id="search-button" value="search"/>

    <p>
        <a href="#" id="order-by-name" class="display-none">order by name</a>
        |
        <a href="#" id="filter-with-images-only" class="display-none">show only with images</a>
    </p>


    <h1>Product list</h1>
    <div id="products-list"></div>
    <a href="#" id="back-link" class="display-none">&laquo;Back</a>
    <a href="#" id="next-link" class="display-none">Next&raquo;</a>
{% endblock %}
