{% extends 'base.html.twig' %}

{% block title %}Front Application{% endblock %}

{% block stylesheets %}
    <style>
        .display-none {
            display: none;
        }
    </style>
    {{ parent() }}
{% endblock %}


{% block body %}
    <div id="products-list"></div>
    <a href="#" id="back-link" class="display-none">&laquo;Back</a>
    <a href="#" id="next-link" class="display-none">Next&raquo;</a>
{% endblock %}
